# editor and OS artifacts
*~
.DS_STORE
*.swp

# query compilation caches
.cache

# qltest projects and artifacts
**/test/**/*.testproj
**/test/**/*.actual

# Visual studio temporaries, except a file used by QL4VS
.vs/*
!.vs/VSWorkspaceSettings.json

# Byte-compiled python files
*.pyc

# C/C++ build artifacts
*.o
/databases/
c/common/src/codingstandards/c/Identifiers.qll
.gitignore
cpp/autosar/test/rules/A0-1-4/test.cpp
cpp/autosar/test/rules/A0-1-4/UnusedParameter.expected
cpp/autosar/test/rules/A0-1-4/UnusedParameter.qlref
cpp/autosar/test/rules/A0-1-6/test.cpp
cpp/autosar/test/rules/A0-1-6/UnusedTypeDeclarations.expected
cpp/autosar/test/rules/A0-1-6/UnusedTypeDeclarations.qlref
cpp/autosar/test/rules/M0-1-1/test.cpp
cpp/autosar/test/rules/M0-1-1/UnreachableCode.expected
cpp/autosar/test/rules/M0-1-1/UnreachableCode.qlref
cpp/autosar/test/rules/M0-1-9/DeadCode.expected
cpp/autosar/test/rules/M0-1-9/DeadCode.qlref
cpp/autosar/test/rules/M0-1-9/test.cpp
cpp/autosar/test/rules/M3-2-4/IdentifierWithExternalLinkageShallHaveOneDefinition.expected
cpp/autosar/test/rules/M3-2-4/IdentifierWithExternalLinkageShallHaveOneDefinition.qlref
cpp/autosar/test/rules/M3-2-4/test.cpp
cpp/autosar/test/rules/M3-2-4/test1.cpp
cpp/autosar/test/rules/M3-2-4/test2.cpp
cpp/autosar/test/rules/M3-3-2/MissingStaticSpecifierOnFunctionRedeclaration.expected
cpp/autosar/test/rules/M3-3-2/MissingStaticSpecifierOnFunctionRedeclaration.qlref
cpp/autosar/test/rules/M3-3-2/test.cpp
cpp/autosar/test/rules/M3-4-1/test.cpp
cpp/autosar/test/rules/M3-4-1/UnnecessaryExposedIdentifierDeclaration.expected
cpp/autosar/test/rules/M3-4-1/UnnecessaryExposedIdentifierDeclaration.qlref
cpp/cert/test/rules/DCL55-CPP/arrays.cpp
cpp/cert/test/rules/DCL55-CPP/InformationLeakageAcrossTrustBoundaries.expected
cpp/cert/test/rules/DCL55-CPP/InformationLeakageAcrossTrustBoundaries.qlref
cpp/cert/test/rules/DCL55-CPP/inheritance.cpp
cpp/cert/test/rules/DCL55-CPP/interprocedural.cpp
cpp/cert/test/rules/DCL55-CPP/multilayer.cpp
cpp/cert/test/rules/DCL55-CPP/test.cpp
